<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %> 

    <main>
        <section>

            <div class="container cont-article" >
               <div class="row">
                   <div class="col">
                    <h2><%= article.title %></h2>
                    <p><%= article.body %></p>
                   </div>
                   <div class="col delete"> 
                    <a class = "btn-delete" data-doc ="<%= article._id %>">Delete Article</a>
                   </div>
               </div>
            </div>
           
            
        </section>

    </main>
    <script>
      const btndelete = document.querySelector ('a.btn-delete');
      btndelete.addEventListener('click', (e) =>{
        const endpoint = `/articles/${btndelete.dataset.doc}`;
        fetch (endpoint, {
          method: 'DELETE'
        })
      .then ((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch (err => console.log (err));
      } )

    </script>

  <%- include('./partials/footer.ejs') %>
</body>
</html>