<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>
 
   <main>
<section >
<h1 class="continer title" >WEB DEVELOPMENT FRAMEWORKS</h1>
<div class="container">
    <div class="row">
      <div class="col">
        <p class = "p-description">The design and creation of a new web project, include several organization and structuring tasks to be carried out. For example, the web technologies that are going to be used, the style of the different elements of the web, methodologies, delivery times, fonts and colors, etc.  These are just some of the things to organize in the work team, to carry them out there are have several tools such as web frameworks, which will facilitate many of these tasks and help the developmet a quality web project.</p>
        <p class = "p-description">Web frameworks are a set of tools, styles and libraries arranged through a base structure or skeleton, for the development of web applications that are more scalable and easier to maintain. It avoids having to write code repetitively, ensures good practices and code consistency and also can save large amounts of time and costs.</p>
        <p class = "p-description">This is a blog that contains different articles about frameworks, information that will help to web developments in the decision on which framework is the right one for their projects.</p>
      </div>
      <div class="col">
        <img class ="img-body" src="img/img1.jpg" width="500" height="333">
      </div>
    </div>
  </div>

</section>
<h1 class="continer title">ARTICLES</h1>
<div class="container">
    <div class="col">
      <div class="row">

        <% if (articles.length > 0) { %>
          <% articles.forEach(articles => { %>
        
          <a class= my-nav href="/articles/<%= articles._id %>">
            <h2><%= articles.title %></h2>
            <p><%= articles.fragment %></p>
           </a>
          
        
          <% }) %>
        <%} else { %>
          <h3>Sorry! No articles to show!</h3>
        <% } %>
      </div>
     
    </div>
  </div>
    </main>
 <%- include('./partials/footer.ejs') %>
</body>
</html>